:root {
	--background: #060802;
	--primary: #55cc3e;
	--secondary: #071c0e;
	--accent: #32bd61;
	--text: #eff6df;
	--backgroundLight: #eff6df;
	--textLight: #060802;
	--secondaryLight: #caf2d7;
	--accentLight: #124423;
}

body {
	margin: 0;
	color: var(--text);
	background-color: var(--background);
	font-family: 'Merriweather Sans', sans-serif;
}

.headerlayout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:1em;
}

.navicons {
	display: flex;
	justify-content: center;
	width: 50%;
	padding: 0 1em;
	font-size: 3rem;
	gap: 1em;
}

.header {
	padding:1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0;
	gap: 1em;
}

.headernav {
	display: flex;
	align-items: center;
	gap: 0.1em;
}

.navitem {
	padding: 0.3em;
	text-align: center;
	border-radius: 1em;
	font-size: 0.8em;
	margin: 0;
}

.sitetitle {
	font-size: 1.5em;
	margin: 0;
}

.welcome {
	text-align: center;
}

.home {
	padding: 1em;
	padding-bottom: 3em;
	display: flex;
	flex-direction: column;
}

.gamelist {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
}

.gamecard {
	padding: 0.5em;
	background-color: var(--primary);
	color: var(--textLight);
	display: flex;
	gap:1em;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0.5em 1px var(--accentLight);
}

.gamelook {
	display: flex;
	align-items: center;
	gap:1em;
}

.gamedata {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.gamedata h2, h3{
	margin: 0;
}

.gametitle {
	font-size: 1em;
}

.gameimg {
	min-width: 5em;
	height: 5em;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em 5px var(--accentLight);
}

.hearticon {
	font-size: 2em;
	color: var(--textLight);
}

.btncontainer {
	display: flex;
	justify-content: center;
}

.seeallbtn {
	padding: 1em;
	border-radius: 1em;
	background-color: var(--accent);
	text-align: center;
	width: 10em;
	color: var(--textLight);
}

.centersubtitle{
	text-align: center;
}

.unlink {
	color: inherit;
	text-decoration: none;
}

.gameselected {
	background-color: var(--accent);
	padding: 1em;
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--textLight);
}

.gsintro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.gsintrodata {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gsimage {
	width: 15em;
	border-radius: 1em;
}

.gsname {
	font-size: 2.5em;
	text-align: center;
}

.gsdata {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.metacritic {
	background-color: var(--background);
	color: var(--text);
	padding: 1em;
	border-radius: 50%;
	width: 1.5em;
	text-align: center;
}


.gsprice {
	font-size: 1.5em;
}

.buygame {
	display: flex;
	justify-content: center;
}

.buybtn {
	background-color: rgb(245, 245, 109);
	padding: 1em;
	width: 10em;
	border-radius: 0.5em;
	font-size: 1.5em;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.moregames {
	text-align: center;
}

.sectiongames {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1em;
}

.about {
	padding: 1em;
	padding-bottom: 3em;
	display: flex;
	flex-direction: column;
}

.aboutusbtn {
	padding: 1em;
	background-color: var(--accent);
	border: none;
	border-radius: 1em;
	margin-right: 1em;
}

.abtbtnlight {
	background-color: var(--accentLight);
	color: var(--text);
}

.aboutus {
	margin-bottom: 3em;
}


.contact {
	padding: 1em;
}

.problems {
	margin-bottom: 3em;
}

.problemsbtn {
	background-color: rgb(234, 234, 104);
	border: none;
	font-family: inherit;
	padding: 1em;
	border-radius: 1em;
}

.tkbtnlight{
	background-color: rgb(104, 104, 234);
	color: var(--text);
}

.othercontact {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.contactmail {
	color: var(--primary);
	font-weight: bold;
}

.ctmaillight{
	color: #B53ECC;
}

.info {
	color: var(--text);
	background-color: var(--secondary);
	padding: 2em;
	display: flex;
	font-size: 0.8rem;
	gap: 2em;
	justify-content: center;
}

.infolight {
	color: var(--textLight);
	background-color: var(--secondaryLight);
}

.info1, .info2 {
	display: flex;
	flex-direction: column;
	gap: 1em;
	line-height: 1.6em;
}

.info1 ul, .info2 ul {
	list-style-type: none;
	padding: 0;
}

.listtitle {
	font-weight: bold;
	font-size: 0.85rem;
}

.howtobuysection {
	padding: 1em;
}

.faqs {
	padding: 1em;
}

.faq {
	border-bottom: 1px solid var(--text);
	padding: 1em;
	cursor: pointer;
}

.faqborderlight {
	border-bottom: 1px solid var(--textLight);
}

.faqquestion {
	display: flex;
}

.faqpage {
	padding: 1em;
}

.footer {
	background-color: var(--accent);
	padding: 1.5em;
	color: var(--secondary);
	text-align: center;
}

.ft-light {
	background-color: var(--accentLight);
	color: var(--secondaryLight);
}

.redheart {
	color: rgb(236, 82, 82);
}

.shoppingpage {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cart {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	justify-content: center;
}

.cartlist {
	display: flex;
	flex-direction: column;
	gap:1em;
	max-height: 55vh;
	overflow: scroll;
}

.form {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 80%;
	background-color: var(--accent);
}

.formnamecontainer{
	display: flex;
	flex-direction: column;
}

.formemailcontainer{
	display: flex;
	flex-direction: column;
	gap:0.5em;
	text-align: center;
}

.formemailcontainer small {
	color: var(--textLight);
}

.formlabel {
	font-family: inherit;
	font-size: 6vw;
	color: var(--textLight);
	text-align: center;
}

.formInput {
	border-radius: 1em;
	border: none;
	padding: 1em;
	font-family: inherit;
	background-color: var(--secondaryLight);
	color: var(--textLight);
}

.summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--accentLight);
	padding: 1em;
	color: var(--text);
}

.summary p {
	margin: 0.2em 0;
}

.summary small {
	margin-bottom: 1em;
	text-align: center;
}

.formbtn {
	background-color: rgb(247, 247, 86);
	font-family: inherit;
	padding: 0.5em;
	border: none;
}

.sectioncheckout {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: 3em 1em;
}

.checkout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.paypal {
	padding: 1em;
}

.advice {
	background-color: rgb(157, 32, 32);
	padding: 1em;
	margin: 1em;
	text-align: center;
	color: var(--text);
}

.thankpage {
	padding: 1em;
	text-align: center;
}

.thdark{
	border: 1px solid var(--text)
}

.thlight{
	border: 1px solid var(--textLight)
}

.receipt{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}

.receiptitem{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
}

.receiptitem p {
	margin: 0;
}

.favoriteGames{
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px){
	.headerlayout{
		flex-direction: row;
	}

	.home {
		align-items: center;
	}

	.gamelist {
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-auto-rows: minmax(6.25em, auto);
		gap: 1em;
		padding: 0 1em;
	}

	.sitetitle {
		font-size: 2em;
	}

	.headernav {
		gap: 1em;
	}

	.navitem {
		font-size: 1.5em;
	}

	.gamecontainer{
		height: 25vw;
		width: 14.5vw;
		display: flex;
		justify-content: center;
		margin-bottom: 1em;
	}

	.gamecard {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
		font-size: 1vw;
	}

	.gamecard .unlink {
		width: 100%;
	}
	
	.gamelook {
		flex-direction: column;
		width: 100%;
	}
	
	.gametitle {
		font-size: 1vw;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 10vw;
	}

	.gameprice {
		font-size: 1vw;
	}
	
	.gameimg {
		width: 100%;
		height: 17em;
		box-shadow: none;
		border-radius: 0px;
	}
	
	.hearticon {
		font-size: 2.3em;
	}

	.gamedata {
		text-align: center;
	}

	.info1, .info2 {
		flex-direction: row;
	}

	.contact {
		text-align: center;
	}

	.about {
		align-items: center;
		padding: 0 13vw;
	}

	.gs {
		padding: 0 15vw;
		text-align: center;
	}

	.gameselected {
		flex-direction: column;
	}
	
	.gameselected + .gamecard {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.gsintro {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
	}

	.gsintrodata {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.cart {
		display: flex;
		flex-direction: row;
		align-items: start;
	}

	.cartlist {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-auto-rows: minmax(6.25em, auto);
		overflow:visible;
		padding: 1em;
		height: auto;
		row-gap: 0;
	}

	.sectioncheckout{
		flex-direction: row;
		align-items: start;
		justify-content: center;
	}

	.formlabel {
		font-size: 3vw;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--accent);
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider-dark {
	background-color: var(--backgroundLight);
  }

  .slider-light {
	background-color: var(--background);
  }
  
  input:checked + .slider-dark {
	background-color: var(--backgroundLight);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px var(--primary);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

.dark {
	background-color: var(--background);
	color: var(--text);
}

.light {
	background-color: var(--backgroundLight);
	color: var(--textLight);
}
