:root {
	--background: #060802;
	--primary: #55cc3e;
	--secondary: #071c0e;
	--accent: #32bd61;
	--text: #eff6df;
	--backgroundLight: #eff6df;
	--textLight: #060802;
	--secondaryLight: #caf2d7;
	--accentLight: #124423;
}

body {
	margin: 0;
	color: var(--text);
	background-color: var(--background);
	font-family: 'Merriweather Sans', sans-serif;
}

.header {
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headernav {
	display: flex;
	align-items: center;
	gap: 0.1em;
}

.navitem {
	padding: 0.3em;
	text-align: center;
	border-radius: 1em;
	font-size: 0.8em;
}

.sitetitle {
	font-size: 1.5em;
}

.welcome {
	text-align: center;
}

.home {
	padding: 1em;
}

.gamelist {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.gamecard {
	padding: 0.5em;
	background-color: var(--primary);
	color: var(--textLight);
	display: flex;
	gap:1em;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0.5em 1px var(--accentLight);
}

.gamelook {
	display: flex;
	align-items: center;
	gap:1em;
}

.gamedata {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.gamedata h2, h3{
	margin: 0;
}

.gametitle {
	font-size: 1em;
}

.gameimg {
	min-width: 5em;
	height: 5em;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em 5px var(--accentLight);
}

.hearticon {
	font-size: 2em;
	color: var(--textLight);
}

.btncontainer {
	display: flex;
	justify-content: center;
}

.seeallbtn {
	padding: 1em;
	border-radius: 1em;
	background-color: var(--accent);
	text-align: center;
	width: 10em;
	color: var(--textLight);
}

.centersubtitle{
	text-align: center;
}

.unlink {
	color: inherit;
	text-decoration: none;
}

.gameselected {
	background-color: var(--accent);
	padding: 1em;
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--textLight);
}

.gsimage {
	width: 15em;
	border-radius: 1em;
}

.fav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.gsname {
	font-size: 2.5em;
	text-align: center;
}

.metacritic {
	background-color: var(--background);
	color: var(--text);
	padding: 1em;
	border-radius: 50%;
}

.gsprice {
	font-size: 1.5em;
}

.buygame {
	display: flex;
	justify-content: center;
}

.buybtn {
	background-color: rgb(245, 245, 109);
	padding: 1em;
	width: 10em;
	border-radius: 0.5em;
	font-size: 1.5em;
	font-family: inherit;
	margin-bottom: 3em;
}

.moregames {
	text-align: center;
}

.sectiongames {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1em;
}

.about {
	padding: 1em;
	margin-bottom: 3em;
}

.aboutus button {
	padding: 1em;
	background-color: var(--accent);
	border: none;
	border-radius: 1em;
	margin-right: 1em;
}

.aboutus {
	margin-bottom: 3em;
}

.history {
	color: var(--text);
}

.contact {
	padding: 1em;
}

.problems {
	margin-bottom: 3em;
}

.problems button {
	background-color: rgb(234, 234, 104);
	border: none;
	font-family: inherit;
	padding: 1em;
	border-radius: 1em;
}

.othercontact {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.contactmail {
	color: var(--primary);
}

.info {
	color: var(--text);
	background-color: var(--secondary);
	margin-top: 3em;
	padding: 2em;
	display: flex;
	font-size: 0.8rem;
	gap: 2em;
	justify-content: center;
}

.info1, .info2 {
	display: flex;
	flex-direction: column;
	gap: 1em;
	line-height: 1.6em;
}

.info1 ul, .info2 ul {
	list-style-type: none;
	padding: 0;
}

.listtitle {
	font-weight: bold;
	font-size: 0.85rem;
}

.footer {
	background-color: var(--accent);
	padding: 1.5em;
	color: var(--secondary);
	text-align: center;
}

@media (min-width: 768px){
	.gamelist {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 1em;
	}

	.sitetitle {
		font-size: 2em;
	}

	.headernav {
		gap: 1em;
	}

	.navitem {
		font-size: 1.5em;
	}

	.gamecard {
		display: flex;
		flex-direction: column;
		height: 20em;
	}
	
	.gamelook {
		flex-direction: column;
	}
	
	.gametitle {
		font-size: 1.5em;
		text-align: center;
	}
	
	.gameimg {
		width: 10em;
		height: 10em;
		box-shadow: 0.5em 0.5em 5px var(--accentLight);
	}
	
	.hearticon {
		font-size: 2.3em;
	}

	.gamedata {
		text-align: center;
	}
}
